.tabs {
  font-size: 15px;
  padding: 0;
  background-color: var(--grey);
  border-radius: 50px;
  position: relative;
}

.tabs ul {
  display: flex;
  padding: 0;
}

.tabs ul li {
  color: var(--grey_dark);
  padding: 10px 20px;
  position: relative;
  font-weight: 500;
  z-index: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.tabs ul li.active {
  color: white;
  border-radius: 50px;
  background-color: var(--red);
  transition: 0.3s ease-in-out;
}

.tabs ul li i.fas {
  margin-right: 7px;
}
