:root {
  --cyan-blue_dark: #042541;
  --cyan-blue_light: #05345c;
  --white: #ffffff;
  --red: #ec2227;
  --grey: #e3e3e3;
  --grey_dark: #3d3d52;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url(./assets/fonts/Gilroy-ExtraBold.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", "Gilroy", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
